[submodule "vim/pack/essential/start/jellybeans.vim"]
	path = vim/pack/essential/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim/pack/essential/start/tagbar"]
	path = vim/pack/essential/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/essential/start/vim-clang-format"]
	path = vim/pack/essential/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/pack/essential/start/ctrlp.vim"]
	path = vim/pack/essential/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/essential/start/nerdtree"]
	path = vim/pack/essential/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/essential/start/nerdtree-git-plugin"]
	path = vim/pack/essential/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/pack/essential/start/vim-commentary"]
	path = vim/pack/essential/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/essential/start/ale"]
	path = vim/pack/essential/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/essential/start/vim-airline"]
	path = vim/pack/essential/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/essential/start/vim-gutentags"]
	path = vim/pack/essential/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
