[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "nvim/pack/packer/start/packer.nvim"]
	path = nvim/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
